.input-label {
    font-size: 0.875rem;
    text-transform: capitalize;
}

.input-control {
    padding: 0.75em;
    font-size: 00.875rem;
    resize: none;
}

.fieldset {
    padding: 1.5em 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    
}

.legend {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.align-center {
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group:not(:last-child) {
    margin-bottom: 1.5rem;
}
.submitBtn {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    margin-right: 10px;
}
.btn[disabled] {
    cursor: not-allowed;
    background-color: hsla(var(--clr-light), 0.75);
    color: hsla(var(--clr-light));
    user-select: none;
}